<form #SomeReference="ngForm" (ngSubmit)="readForm(SomeReference)">
  <div>
    <div class="form-group col-lg-8">
      <label for="name">Name:</label>
      <input type="text"
             class="form-control"
             id="name"
             name="name"
             ngModel
             pattern="[a-zA-Z*]"
             required
             #name="ngModel">
      <span *ngIf="!name.valid && name.touched">Please, enter your name</span>
    </div>
    <div class="form-group col-lg-8">
      <label for="address">Email address:</label>
      <input type="text"
             class="form-control"
             id="address"
             name="address"
             ngModel>
    </div>
    <div class="form-group col-lg-8">
      <label for="phone">Phone:</label>
      <input type="text"
             class="form-control"
             id="phone"
             name="phone"
             ngModel>
    </div>
    <div class="form-group col-lg-8">
      <label for="email">Email address:</label>
      <input type="email"
             class="form-control"
             id="email"
             name="email"
             ngModel>
    </div>

    <button type="submit" class="btn btn-default"> <!--[disabled]="!SomeReference.valid"-->Submit</button>
    <button type="button" class="btn btn-warning" (click)="clearForm(SomeReference)">Cancel</button>

  </div>

  <select [(ngModel)]="selectedValue" (ngModelChange)="onRowClick()" name="someValue" ngModel>
    <option *ngFor="let n of somevalues" value="{{n}}">{{n}}</option>
  </select>

</form>

<div class="row" ngIf="formSubmitted">
  <div class="col-xl-12">
    <h3>Your data</h3>
    <p>Username: {{user.name}}</p>
    <p>Mail: {{user.address}}</p>
  </div>
</div>


